{% extends 'project/base.html' %}

<!-- Load lib -->
{% load static %}

{% block content %}

<!-- Sections -->
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Oops ! I did it again.</h4>
                <p class="card-title">
                    Une erreur s'est produite.
                    Nous sommes actuellement en liaison directe avec Britney
                    pour investiguer sur les causes du drame.
                </p>
            </div>
            <div class="card-body">
                <iframe src="https://www.youtube.com/embed/CduA0TULnow" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}