appdirs==1.4.3
asgiref==3.2.10
CacheControl==0.12.6
certifi==2020.6.20
chardet==3.0.4
cloudinary==1.22.0
colorama==0.4.3
contextlib2==0.6.0
distlib==0.3.0
distro==1.4.0
dj-database-url==0.5.0
Django==2.2.16
django-crispy-forms==1.9.2
django-debug-toolbar==3.1.1
django-forms-test==0.1.post1
django-mailgun==0.9.1
environs==8.0.0
gunicorn==20.0.4
html5lib==1.0.1
idna==2.10
ipaddr==2.2.0
lockfile==0.12.2
marshmallow==3.8.0
msgpack==0.6.2
newrelic==5.20.1.150
packaging==20.3
pep517==0.8.2
progress==1.5
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pyparsing==2.4.6
python-dotenv==0.14.0
pytoml==0.1.21
pytz==2020.1
raven==6.10.0
whitenoise==5.2.0