{% extends 'project/base.html' %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand">
                Every projects deserves a better approach...
            </a>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<!-- Sections -->
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Kick off your project</h4>
                <p class="card-title">Choose a unique name and provide a short description </p>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <div class="col-lg-4 mx-auto">
                            <input class="btn btn-primary" type="submit" value="Start the Project!">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}