{% extends 'project/base.html' %}

<!-- Load lib -->
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="/displayDeliverable/{{deliverable.id }}/">{{ deliverable.name}}</a>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<!-- Sections -->
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <a href="/displayDeliverable/{{deliverable.id }}/">
          <h4 class="card-title "> {{ deliverable.name}} </h4>
        </a>
        <p class="card-title">Modify the content</p>
      </div>
      <div class="card-body">
        <form action="/deliverable/modifyDeliverable/{{ deliverable.id }}/"
              method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-4 mx-auto">
              {{ form|crispy }}
              <input class="btn btn-primary" type="submit" value="Modify it!">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}