{% extends 'project/base.html' %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="/displayProject/{{project.id }}/">{{ project.name}}</a>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<!-- Form -->
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Modify the content</h4>
      </div>
      <div class="card-body">
        <form action="/modifyProject/{{ project.id }}/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="row">
            <div class="col-lg-4 mx-auto">
              <input class="btn btn-primary" type="submit" value="Modify it!">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}